streamlit==1.39.0
pandas==2.2.3
numpy
datetime==5.5
pillow==10.0.0
requests
flask==2.2.2
werkzeug==2.2.3
langchain-upstage==0.3.0
langchain-core==0.3.0
langchain
# Assuming upstage-langchain is installed from GitHub, otherwise remove this line
git+https://github.com/username/upstage-langchain.git
pydantic>=2.7.4,<3.0.0
faiss-cpu
scikit-learn
